<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Traffic Management Game</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div>
        <button v-on:click="setMap(1)">Map 1</button>
        <button v-on:click="setMap(2)">Map 2</button>
        <button v-on:click="setMap(3)">Map 3</button>
        <button v-on:click="setMap(4)">Map 4</button>
        <button v-on:click="setMap(5)">Map 5</button>
      </div>

      <table v-if="map">
        <tr v-for="i in size.height">
          <td
            class="cell"
            v-for="j in size.width"
            v-bind:class="cellClass(i-1,j-1)"
            v-bind:style="cellStyle(i-1,j-1)"
            v-on:click="rotate(i-1,j-1)"
          >
            <div v-bind:class="cellTextClass(i-1,j-1)">
              {{symbol(i-1, j-1)}}
            </div>
          </td>
        </tr>
      </table>

      <div class="loading-bar">
        <div
          class="progress"
          v-bind:style="{width: stepCountdown/maxStepCountdown*100+'%'}"
        ></div>
      </div>

      <div v-if="map">
        <button v-on:click="start()" v-show="!isStarted">Start</button>
        <button v-on:click="step()" v-show="isStarted">Step</button>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
